doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 FearCatcher
    p anger:&nbsp;
      span#anger
    p contempt:&nbsp;
      span#contempt
    p disgust:&nbsp;
      span#disgust
    p fear:&nbsp;
      span#fear
    p happiness:&nbsp;
      span#happiness
    p neutral:&nbsp;
      span#neutral
    p sadness:&nbsp;
      span#sadness
    p surprise:&nbsp;
      span#surprise
    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')