doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 FearCatcher
    p current fear level:
      span#fear-level
    script(src='/js/main.js')